/**
* Buttons
*/
button {
  display: block;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  color: currentColor;
  cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 8px;
  font-family: $title-font;
  letter-spacing: 2%;
  font-weight: 300;
  text-transform: uppercase;
  border: 0;
  outline: none;
  text-decoration: none;
  cursor: pointer;

  &.--translucent {
    color: $white;
    background-color: rgba($primary-400, 0.16);

    &:hover {
      background-color: rgba($primary-400, 0.32);
    }

    &:active {
      background-color: rgba($primary-400, 0.24);
    }
  }

  &.--translucent-light {
    color: $primary-400;
    background-color: rgba($primary-400, 0.04);

    &:hover {
      background-color: rgba($primary-400, 0.16);
    }

    &:active {
      background-color: rgba($primary-400, 0.12);
    }
  }

  &.--primary {
    background-color: $primary-400;
    color: $white;

    &:hover,
    &:active {
      background-color: $primary-200;
    }
  }

  &.--white {
    background-color: $white;
    color: $primary-400;

    &:hover,
    &:active {
      background-color: $white;
    }
  }

  &.--small {
    padding: 10px 24px 8px;
    font-size: 12px;
    line-height: 20px;
  }

  &.--large {
    padding: 12px 24px 10px;
    font-size: 14px;
    line-height: 24px;
  }

  &.--disabled,
  &[disabled] {
    background-color: rgba($primary-400, 0.04);
    color: rgba($primary-400, 0.24);
    cursor: default;
    pointer-events: none;
  }
}

.link {
  color: $color-link;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $color-link-hover;
  }
}