.form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__text {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
  }

  &__item {
    text-align: center;
  }

  &__button {
    width: 100%;
  }

  @include min-width($bp-tablet) {
    &__button {
      width: fit-content;
    }
  }
}

.error-text {
  color: $color-error;
  font-size: 16px;
  line-height: 22px;
}
