<!DOCTYPE html>
<html lang="ru">
<head>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Искусственный Интеллект для бизнеса</title>
  <link rel="icon" type="image/png" href="images/favicon.png"/>
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/first-screen.scss">
  <link rel="stylesheet" href="../styles/app.scss">
  <meta name="description" content="Разработка, внедрение и сопровождение решений на базе Искусcтвенного интеллекта для вашего бизнеса.">
  <meta name="msapplication-tap-highlight" content="no">
</head>
<body>
  <main class="main">
    {% include "sections/intro.njk" %}
    
    <div class="container">
      {% include "sections/services.njk" %}

      {% include "sections/projects.njk" %}

      {% include "sections/request.njk" %}
    </div>
  </main>
  
  {% include "components/footer.njk" %}
</body>
</html>