<section class="section projects-wrapper">
  <h2>Реализованные проекты</h2>

  <div class="projects">
    <div class="project --project-1">
      <div class="project__left">
        <div class="project__logo">
          <img 
            src="images/project-logo-1.svg" 
            class="project__logo-image" 
            alt="Батлер"
          />
        </div>

        <div class="project__text">
          Автоматизация обработки обращений клиентов УК Butler, поступающих на электронную почту.
        </div>

        <div class="project__features">
          <div class="project__features-title">
            Система автоматически:
          </div>

          <ul class="project__features-list">
            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
                Отвечает на типовые вопросы жителей&nbsp;по имеющейся корпоративной базе знаний
              </p>
            </li>

            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
                Автоматически вносит показания приборов учета&nbsp;в расчетную систему
              </p>
            </li>

            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
                Маршрутизирует заявки до&nbsp;ответственных служб (электриков, сантехников), уточняет детали заявки у&nbsp;клиента при необходимости
              </p>
            </li>

            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
                Отвечает на типовые вопросы по&nbsp;начислениям/списаниям и&nbsp;задолженностям за ЖКУ
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="project__right">
        <div class="project__colored-head">
          <div class="project__right-title">
            AI-Operator
          </div>

          <div class="project__skews --yellow">
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
          </div>
        </div>
        
        <div class="project__right-content">
          <p class="project__right-text">
            Повышение скорости обработки обращений и&nbsp;сокращение затрат на&nbsp;Колл-Центр
          </p>

          <div class="project__right-large-text">
            на 60%
          </div>
        </div>
      </div>
    </div>

    <div class="project --project-2">
      <div class="project__left">
        <div class="project__logo">
          <img 
            src="images/project-logo-2.svg" 
            class="project__logo-image" 
            alt="Батлер"
          />
        </div>

        <div class="project__text">
          Автоматизация запросов, поступающих в региональный сервис краткосрочной аренды самокатов (кикшеринг) lite
        </div>

        <div class="project__features">
          <div class="project__features-title">
            Система автоматически:
          </div>

          <ul class="project__features-list">
            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
               Отвечает на вопросы клиентов, используя корпоративную базу знаний
              </p>
            </li>

            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
                Размечает и типизирует обращения для внутренней аналитики
              </p>
            </li>

            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
                Проверяет информацию о&nbsp;поездках, состояние самокатов, ставит задачи в&nbsp;службу эксплуатации
              </p>
            </li>

            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
                Осуществляет компенсации заказов в&nbsp;случае возникновения внештатных ситуаций
              </p>
            </li>
          </ul>
        </div>
      </div>

      <div class="project__right">
        <div class="project__colored-head">
          <div class="project__right-title">
            AI-Operator
          </div>

          <div class="project__skews --yellow">
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
          </div>
        </div>
        
        <div class="project__right-content">
          <p class="project__right-text">
            Нивелирование неравномерной нагрузки на&nbsp;Колл-Центр и&nbsp;сокращение затрат 
          </p>

          <div class="project__right-large-text">
            на 80%
          </div>
        </div>
      </div>
    </div>

    <div class="project --project-3">
      <div class="project__left">
        <div class="project__logo">
          <img 
            src="images/project-logo-2.svg" 
            class="project__logo-image" 
            alt="Батлер"
          />
        </div>

        <div class="project__text">
          Автоматизация первичных продаж франшизы в региональном сервисе краткосрочной аренды самокатов (кикшеринг) lite 
        </div>

        <div class="project__features">
          <div class="project__features-title">
            Система автоматически:
          </div>

          <ul class="project__features-list">
            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
                Осуществляет обзвон клиентской базы с&nbsp;первичным предложением по&nbsp;подключению франшизы
              </p>
            </li>

            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
                Ведет карточку клиента (результаты звонков, задачи на&nbsp;повторный контакт)
              </p>
            </li>

            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
                Уточняет информацию у&nbsp;менеджеров продаж по&nbsp;возможным условиям сотрудничества
              </p>
            </li>

            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
                Передает теплый лид менеджеру продаж для заключения сделки
              </p>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="project__right">
        <div class="project__colored-head">
          <div class="project__right-title">
            AI-Sales
          </div>

          <div class="project__skews --orange">
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
          </div>
        </div>
        
        <div class="project__right-content">
          <p class="project__right-text">
            Расширение этапов воронки продаж, масштабирование без расширение штата сотрудников, автоматизированная обработка низкоконверсионных контактов и повышение итоговой конверсии поступающего трафика
          </p>

          <div class="project__right-large-text">
            на 7%
          </div>
        </div>
      </div>
    </div>

    <div class="project --project-4">
      <div class="project__left">
        <div class="project__text">
          Система подготовки текстовых описаний для сотрудников компании в&nbsp;сфере услуг
        </div>

        <div class="project__features">
          <div class="project__features-title">
            Ускоряет типовые рутинные процессы:
          </div>

          <ul class="project__features-list">
            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
                Подготовки пресс-релизов и&nbsp;объявлений
              </p>
            </li>

            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
                Ведения социальных сетей
              </p>
            </li>

            <li class="project__feature">
              <svg class="project__feature-icon">
                <use xlink:href="sprite.svg#check-circle"></use>
              </svg>

              <p>
                Ответы клиентам в&nbsp;мессенджерах
              </p>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="project__right">
        <div class="project__colored-head">
          <div class="project__right-title">
            AI-Copyrighter
          </div>

          <div class="project__skews --pink">
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
            <div class="project__skew"></div>
          </div>
        </div>
        
        <div class="project__right-content">
          <p class="project__right-text">
            Повышение производительности труда сотрудников
          </p>
        </div>
      </div>
    </div>
  </div>
</section>