<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__column --left">
        <div class="footer__text">
          <p>
            AI-Operator, AI-Sales, AI-Copyrighter - SaaS платформа собственной разработки. 
            ООО "ИИ Сервисы" ИНН 7733436954 осуществляет деятельность в области информационных технологий, 
            является разработчиком программного обеспечения.
          </p>
        </div>

        <div class="contacts">
          <div class="contacts__item">
            <svg class="contacts__icon">
              <use xlink:href="sprite.svg#phone"></use>
            </svg>

            <span id="contact-phone">+7 (495) 275–19–91</span>

            <svg class="contacts__icon --gray">
              <use xlink:href="sprite.svg#copy"></use>
            </svg>
          </div>

          <div class="contacts__item">
            <svg class="contacts__icon">
              <use xlink:href="sprite.svg#email"></use>
            </svg>

            <span id="contact-email">we@aiservices.expert</span>

            <svg class="contacts__icon --gray">
              <use xlink:href="sprite.svg#copy"></use>
            </svg>
          </div>
        </div>

        <div class="footer__links">
          <a class="link" href="#">
            Правила обработки персональных данных
          </a>

          <a class="link" href="#">
            Реквизиты
          </a>
        </div>
      </div>

      <div class="footer__column --right">
        <div class="footer__text">
          <p>
            Информационная система AI-Staff и подсистемы AI-Copyrighter, AI-Sales, 
            AI-Ooperator используют общий технологический стек на базе современного 
            промышленного системного программного обеспечения:
          </p>
        </div>

        <div class="tags">
          <div class="tag">
            <svg class="tag__icon">
              <use xlink:href="sprite.svg#linux"></use>
            </svg>

            <span>Linux</span>
          </div>

          <div class="tag">
            <svg class="tag__icon">
              <use xlink:href="sprite.svg#postgresql"></use>
            </svg>

            <span>PostgreSQL</span>
          </div>
          
          <div class="tag">
            <svg class="tag__icon">
              <use xlink:href="sprite.svg#rabbitmq"></use>
            </svg>

            <span>RabbitMQ</span>
          </div>

          <div class="tag">
            <svg class="tag__icon">
              <use xlink:href="sprite.svg#nodejs"></use>
            </svg>

            <span>Node.js</span>
          </div>

          <div class="tag">
            <svg class="tag__icon">
              <use xlink:href="sprite.svg#redis"></use>
            </svg>

            <span>Redis</span>
          </div>

          <div class="tag">
            <svg class="tag__icon">
              <use xlink:href="sprite.svg#nginx"></use>
            </svg>

            <span>Nginx</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>