{% from "components/button.njk" import button %}
{% from "components/text-field.njk" import textField %}

<div 
  id="password-recovery-popup"
  class="popup"
>
  <div class="popup__backdrop"></div>
  {# Password recovery #}
  <div class="popup__window">
    <div class="popup__close">
      <svg class="icon">
        <use xlink:href="sprite.svg#close"></use>
      </svg>
    </div>

    {# Форма восстановления #}
    <div class="popup__title">
      Восстановление пароля
    </div>

    <form class="form">
      <div class="form__item">
        {{ textField("email", "email", "Email") }}
      </div>
    </form>

    <div class="popup__actions">
      {{ button("Продолжить", "primary", "large", '', true) }}
    </div>
    {# *** #}

    {# Письмо тправлено #}
    {# <div class="popup__title">
      Отправили инструкции на email
    </div>

    <div class="popup__actions">
      {{ button("Закрыть", "primary", "large") }}
    </div> #}
    {# *** #}
  </div>
</div>