<div 
  id="requisites"
  class="popup"
>
  <div class="popup__backdrop"></div>
  <div class="popup__window requisites">
    <div class="popup__close">
      <svg class="icon">
        <use xlink:href="sprite.svg#close"></use>
      </svg>
    </div>

    <h3 class="requisites__subtitle">
      ООО «ИИ СЕРВИСЫ»
      
      <a 
        href="#"
        target="_blank"
        class="requisites__subtitle-link"
      >
        <svg class="icon">
          <use xlink:href="sprite.svg#link"></use>
        </svg>
      </a>
    </h3>

    <ul class="requisites-list">
      <li class="requisites-list__item">
        <div class="requisites-list__item-title">
          Идентификатор ЭДО
        </div>

        <div class="requisites-list__item-text">
          2AE7A7E358A-EADC-4D13-9821-3AF47B6C795B
        </div>
      </li>

      <li class="requisites-list__item">
        <div class="requisites-list__item-title">
          Юридический адрес
        </div>

        <div class="requisites-list__item-text">
          125367, Россия, г. Москва, вн.тер.г. муниципальный округ Покровское-Стрешнево, пр-д Врачебный, д. 10, помещ. 1/1
        </div>
      </li>
      
      <li class="requisites-list__item">
        <div class="requisites-list__item-title">
          Генеральный директор
        </div>

        <div class="requisites-list__item-text">
          Куприков Андрей Сергеевич
        </div>
      </li>
      
      <li class="requisites-list__item">
        <div class="requisites-list__item-title">
          ИНН
        </div>

        <div class="requisites-list__item-text">
          7733436954
        </div>
      </li>
      
      <li class="requisites-list__item">
        <div class="requisites-list__item-title">
          КПП
        </div>

        <div class="requisites-list__item-text">
          773301001
        </div>
      </li>
      
      <li class="requisites-list__item">
        <div class="requisites-list__item-title">
          ОГРН
        </div>

        <div class="requisites-list__item-text">
          1247700072520
        </div>
      </li>
      
      <li class="requisites-list__item">
        <div class="requisites-list__item-title">
          Банк
        </div>

        <div class="requisites-list__item-text">
          АО «ТБанк»
        </div>
      </li>
      
      <li class="requisites-list__item">
        <div class="requisites-list__item-title">
          Расчетный счет
        </div>

        <div class="requisites-list__item-text">
          40702810810001558792
        </div>
      </li>
      
      <li class="requisites-list__item">
        <div class="requisites-list__item-title">
          БИК банка
        </div>

        <div class="requisites-list__item-text">
          044525974
        </div>
      </li>
      
      <li class="requisites-list__item">
        <div class="requisites-list__item-title">
          Корреспондентский счет банка
        </div>

        <div class="requisites-list__item-text">
          30101810145250000974
        </div>
      </li>      
    </ul>
  </div>
</div>