{% from "components/button.njk" import button %}
{% from "components/text-field.njk" import textField %}

<div 
  id="set-password-popup"
  class="popup"
>
  <div class="popup__backdrop"></div>
  {# Set password #}
  <div class="popup__window">
    <div class="popup__close">
      <svg class="icon">
        <use xlink:href="sprite.svg#close"></use>
      </svg>
    </div>

    <div class="popup__title">
      Установите пароль
    </div>

    <form class="form">
      <div class="form__item">
        {{ textField("password", "password", "Пароль", true) }}
      </div>

      <div class="form__item">
        {{ textField("repeat-password", "password", "Пароль", true) }}
      </div>

      <div class="error-text">Пароли не совпадают</div>
    </form>

    <div class="popup__actions">
      {{ button("Сохранить", "primary", "large", "") }}
    </div>
  </div>
</div>