{% macro textField(name, type='text', placeholder='placeholder', error=false, error-text='') %}
  <input 
    type="{{ type }}"
    placeholder="{{ placeholder }}"
    name="{{ name }}"
    class="text-field {{ '--error' if error }}"
  />

  {% if error-text %}
    <div class="error-text">
      {{ error-text }}
    </div>
  {% endif %}
{% endmacro %}