.footer {
  background-color: $white;
  padding: 24px 16px;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__column {
    display: flex;
    flex-direction: column;

    &.--left {
      gap: 40px;
    }

    &.--right {
      gap: 24px;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 8px;
  }

  @include min-width($bp-tablet) {
    padding: 34px 64px 80px;

    &::before {
      width: 100%;
      height: 226px;
      background-color: inherit;
      position: absolute;
      left: 0;
      bottom: 100%;
      content: '';
    }
  }

  @include min-width(1248) {
    &__content {
      flex-direction: row;
      align-items: flex-start;
    }

    &__column {
      &.--right {
        width: 510px;
        flex-shrink: 0;
      }
    }
  }
}

.contacts {
  display: grid;
  gap: 16px;
  font-family: $title-font;
  font-size: 18px;
  line-height: 22px;
  
  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__icon {
    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    color: $primary-300;

    &.--gray {
      color: $secondary-400;
    }
  }

  @include min-width($bp-tablet) {
    font-size: 24px;
    line-height: 32px;

    &__icon {
      width: 24px;
      height: 24px;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: $secondary-200;
  font-size: 14px;
  line-height: 20px;

  &__icon {
    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  @include min-width($bp-tablet) {
    font-size: 16px;
    line-height: 22px;
    padding: 8px 16px;

    &__icon {
      width: 24px;
      height: 24px;
    }
  }
}
